{% extends "lululemon/layout.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}
</p> </p>
<div class="jumbotron">
    <h1 class="display-4">About</h1>
    <p class="lead">
        <b>lululemon store Inventory Management System </b> is a real-time data capturing system to assist in-store operations with replenishment and inventory control.  
    </p>
    <hr class="my-4">
    <p class="lead">
    <p class = "medium">
        For <b> store managers/assistant store managers</b>, please log in to your administration site for: 
    </p>
    <p>
        - Item management: log new items with item information, manage existing items.
    <br>
        - Staff management: register new staffs, assign/unassign items to staff.
    </p> 
    <hr>
    <p class = "medium">
        For <b> educators</b>, please log in to this system for: 
    </p>
    <p>
        - Item management: log new items with item information.
    <br>
        - View logged activities: view your assigned items.
    <br>
        - Personal information management: see your profile, change password.
    </p>
</div>
{% endblock %}