{% extends "lululemon/layout.html" %}
{% block title %}
Contact us
{% endblock %}
{% block content %}
</p> </p>
<div class="jumbotron">
    <h1 class="display-4">Contact</h1>
    <p class="lead">
        For errors related to the administration uses of the system,
        please send a <b>Service Now ticket</b> on lululemon sharepoint, directing to <b> Hong Kong Store Support Center.</b>  
    </p>
    <hr class="my-4">
    <p class="lead">
    <p class = "medium">
        This system is applied in the following <b>lululemon stores</b>:
        <p>
            - lululemon Queen's Road Central store, Central
        <br>
            - lululemon IFC store, Central
        <br>
            - lululemon Pacific Place store, Admiralty
        <br>
            - lululemon Hysan store, Causeway Bay
        <br>
            - lululemon New Town Plaza store, Sha Tin
        <br>
            - lululemon Elements store, Kowloon
        </p>
    </p>
</div>
{% endblock %}